{% extends "crud/base.html" %}

{% block content %}
<div class="container" style="margin-top: 70px;">


    <h2>Item List</h2>
   
       
        <div class="table-responsive">
            <table class="table">
               
                <thead>
                  <tr>
                  
                    <th scope="col">Name</th>
                
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
              
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a></td>
                     
                        <td><a href="{% url 'item_delete' item.pk %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       
   
    <br>
    <a href="{% url 'item_create' %}" class="btn btn-primary">Create New Item</a>
</div>
{% endblock %}


